version: "3.9"

services:
  uploader:
    image: ghcr.io/iraj720/uploader:${IMAGE_TAG:-latest}
    pull_policy: always
    restart: unless-stopped
    environment:
      - CONFIG_PATH=/etc/uploader/config.yaml
    volumes:
      - ./config.yaml:/etc/uploader/config.yaml:ro
      - ./files.db:/etc/uploader/files.db:rw
    user: "65532:65532"