version: "3.9"

services:
  uploader:
    image: ghcr.io/iraj720/uploader:latest
    restart: unless-stopped
    environment:
      - CONFIG_PATH=/etc/uploader/config.yaml
    volumes:
      - ./config.yaml:/etc/uploader/config.yaml:ro
    user: "65532:65532"