name: Build and publish

on:
  push:
    branches: ["main"]

jobs:
  docker:
    name: Build & push Docker image
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        run: |
          echo "${{ secrets.GHCR_TOKEN }}" | docker login ghcr.io -u iraj720 --password-stdin

      - name: Compute and announce tags
        id: tagger
        run: |
          SHORT_SHA=${GITHUB_SHA::7}
          printf "IMAGE_TAG_SHORT=%s\n" "$SHORT_SHA" >> "$GITHUB_ENV"
          echo "Selected image tags:"
          echo "  ghcr.io/${{ github.repository_owner }}/uploader:${SHORT_SHA}"
          echo "  ghcr.io/${{ github.repository_owner }}/uploader:latest"
      - name: Build and push image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/uploader:${{ env.IMAGE_TAG_SHORT }}
            ghcr.io/${{ github.repository_owner }}/uploader:latest